@model WebAppPort.Entities.MainModel.MainModel
@{ ViewData["Title"] = "Home Page"; }

<section class="home-slider js-fullheight owl-carousel bg-white">
    @foreach (var item in Model.mainModels)
    {
<div class="slider-item js-fullheight">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
            <div class="one-third order-md-last img js-fullheight" style="background-image: url('data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)')">

            </div>
            <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <div class="text">
                    <h3 class="mb-4">@item.IndustryTitle</h3>
                    <p>@item.Description</p>
                    @*<p><a href="#" class="btn btn-primary px-4 py-3 mt-3">View our works</a></p>*@
                </div>
            </div>
        </div>
    </div>
</div>}
</section>

<section class="ftco-section ftc-no-pb">
    <span class="subheading subheading-with-line" style="text-align: left;margin-left: 41%;font-size: -webkit-xxx-large;"><small class="pr-2 bg-white">Projects</small></span>
    @foreach (var item in Model.projects)
    {
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-5 p-md-5 img img-2" style="background-image:  url('data:image/jpeg;base64,@Convert.ToBase64String(item.ProjectImageData)')">
        </div>
        <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
            <div class="heading-section mb-5 pl-md-5">
                <div class="pl-md-5 ml-md-5">
                    <span class="subheading subheading-with-line"><small class="pr-2 bg-white"></small></span>
                    <h2 class="mb-4">@item.ProjectTitle</h2>
                </div>
            </div>
            <div class="pl-md-5 ml-md-5 mb-5">
                @item.ProjectDescription
            </div>
        </div>
    </div>
</div>
    <br />
    <br/>}
</section>
